body {
	font-family:Tahoma, Geneva, sans-serif;
	font-size: 14px;
	color: #444;
}

a:link, a:visited, a:hover, a:active {
	text-decoration: none;
}

#content {
	width: 1006px;
	margin: 0 auto;
	padding-top: 30px;
}

#form-div {
	width: 451px;
	margin: 0 auto;
	border: 6px solid #222;
	padding: 10px;
}

#logo-div {
	font-size: 50px;
	color: #444;
	width: 483px;
	margin: 0 auto;
}

#logo-link {
	color: #444;
}

#nav-div {
	font-size: 24px;
	width: 483px;
	margin: 0 auto;
	text-align: center;
}

.nav-item {
	float: left;
	background-color: #222;
	width: 161px;
	text-align: center;
	padding-top: 3px;
}

.nav-link {
	color: #fff;
	text-transform: uppercase;
}

#main {
	clear: both;
	border-top: 6px solid #222;
	padding-top: 30px;
}

#filter-list {
	float: left;
	margin: 0 0 20px 0;
}

.filter-title-div {
	float: left;
	margin-right: 10px;
	background-color: #222;
	padding: 4px;
}

.filter-title {
	font-size: 20px;
	color: #fff;
}

.filter-link-div {
	float: left;
	margin: 0 10px;
	padding: 4px;
}

.filter-link-div a:hover {
	border-bottom: 2px solid #444;;
}

.filter-link, .filter-separator, .user-name-div {
	color: #444;
	font-size: 20px;
	padding: 3px 0;
}

.filter-link, .filter-separator {
	text-transform: lowercase;
}

#product-list, #user-list {
	clear: both;
	width: 1027px; /* = [columns x(width)] + [2 x columns x(border+padding+margin)] */
	margin: 0 auto;
}

.product-item, .user-item {
	float: left;
	border: 1px solid #ccc;
	padding: 15px;
	margin: 10px 20px 10px 0;
	width: 290px;
	text-align: center;
}

.product-name, #product-page-name {
	font-weight: 700;
	height: 50px;
	color: #444;
}

#product-page-name, #product-page-image {
	width: 431px;
	height: auto;
	text-align: center;
	margin: 0 auto 10px;
	padding: 10px 0;
	border: 1px solid #ccc;
}

.product-price {
	background-color: #222;
	color: #fff;
	width: 65px;
	height: 30px;
	padding-top: 12px;
	margin: 20px auto 0;
}

#product-page-item {
	width: 431px;
	margin: 0 auto;
	border: 6px solid #222;
	padding: 20px 20px 50px 20px;
}

.product-page-heading {
	clear: left;
	background-color: #222;
	font-size: 16px;
	color: #fff;
	width: 151px;
	height: 30px;
	margin-bottom: 10px;
	padding: 12px 0 0 12px;
}

.product-page-text {
	float: left;
	height: auto;
	margin-bottom: 10px;
	width: 411px;
	padding: 10px 10px;
	border: 1px solid #ccc;
}

.user-function-div {
	width: 130px;
	margin: 0 auto;
	font-size: 20px;
	text-align: center;
}

.user-link-div a, .product-name a {
	color: #444;
	text-decoration: underline;
}

.login-div {
	text-align: center;
	margin-bottom: 10px;
}

.product-price a {
	color: #fff;
}